# Core
django==4.2.9
python-dotenv==1.0.1
str2bool==1.1

# UI
django-admin-black==1.0.8

# Deployment
whitenoise==6.6.0
gunicorn==21.2.0

# psycopg2-binary
# mysqlclient

# Hot Reload
django-browser-reload==1.12.1